html, body {
  transition: background-color 1s ease;
  width: 100%;
  height: 100%;
 
}

/*/////// TEXT & HEADLINES /////// */

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 6.875rem;
  margin-bottom: 0.1rem;
  margin-top: 0.2rem;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  

}

h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.7;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

h5 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.7;
  margin-top: 0.2rem;
  margin-bottom: 0;
  letter-spacing: 1px;
}


.description-one {
  color: black;
  text-align: center;
  margin-top: 5rem;
}

.description-two {
  color: black;
  text-align: right;
  position: relative;
  z-index: 2;
  margin-top: -1.9rem;
}

.description-three {
  color: black;
  text-align: left;
  margin-top: -4rem;
}

.headline-1 {
  position: relative;
  top: 4rem;
}

.headline-3 {
  position: relative;
  top: 1rem;
}

.sub-headline-2 {
  position: relative;
  left: 25rem;
  margin-top: -2.2rem;
}

.sub-headline-3 {
  position: relative;
  color: black;
  text-align: right;
}

.sub-headline-4 {
  position: relative;
  color: black;
  text-align: right;
  top: -2.8rem !important;
}

.sub-headline-5 {
  position: relative;
  color: black;
  text-align: right;
  top: -5.1rem !important;
}

.sub-headline-6 {
  position: relative;
  color: black;
  text-align: right;
  top: -3.1rem !important;
}

.sub-headline-integration {
  padding-top: 2rem;
  text-align: center;
  opacity: 1 !important;
  color: black;
}

.list-integration {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-top: 2rem;
  text-align: center;
}

.integration {
  display: inline-block;
  justify-content: space-around;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
  border: 2px solid white;
  margin: 1.1rem;
  margin-bottom: 0.3rem;
  transform: skew(-8deg);
  background-color: white;
}

.integration:any-link {
  color: black;
  transition: 0.3s;
}


/*/////// NAV /////// */



.topnav {
  overflow: hidden;
  background-color: white;
  padding: 1rem;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.topnav a:hover {
  color: blue;
  transition: 0.3s;
}

.topnav a.active {
  color: blue;
  transition: 0.3s;
}

.topnav-right {
  float: right;
}

.social {
  margin-top: 0.55rem;
  margin-right: 1rem;
}

.nav-mobile {
  visibility: hidden;
}

/*/////// IMAGE /////// */

.main-logo {
  width: 8rem;
}
.img-top-one {
  display: block;
  margin-left: 70%;
  margin-right: auto;
  width: 15%;
  margin-top: 0;
  position: absolute;
  z-index: -1;
}

.img-top-two {
  display: block;
  margin-right: 70%;
  margin-left: auto;
  width: 50%;
  margin-top: 30%;
  position: absolute;
  z-index: -1;
}

.img-top-three {
  display: block;
  margin-left: 70%;
  margin-right: auto;
  width: 20%;
  margin-top: 35%;
  position: absolute;
  z-index: -3;

}

#wheel-one {
  margin-top: 20%;
  width: 75%;
  position: relative;
  z-index: -20 !important;
}



/*/////// CONTAINER /////// */

.container {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
}

.section {
  padding: 2rem;
  padding-top: 2rem;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
} 



.section-integration {
  background-color: rgb(255, 255, 255, 0);
  height: 55vh;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 5rem;
}


.color-white {
  background-color: #fff;
}
.color-blue {
  background-color: #00ffea;
}
.color-pink {
  background-color: rgb(255, 68, 224);
}
.color-yellow {
  background-color: rgb(252, 236, 10);
}



/*///////  BUTTON /////// */

.nav-button {
  background: white;
  padding: 8px 12px 8px 12px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid black;
  color: black;
  transition: 0.5s;
  margin-right: 2rem;
}

.nav-button:hover {
  color: blue;
  border: 2px solid blue;
  transition: 0.5s;
}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(92, 92, 92, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  padding-right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}


*,*:before,*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wrapper-button-left {
  justify-content: left;
}

.wrapper-button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.7rem;
}

.wrapper-button-right {
  float: right;
  justify-content: right;
  margin-right: 3rem;
}


.button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-top: 30px;
}

.button .top {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 55%;
  padding: 15px 24px 15px 24px;
  border: 2px solid black;
}

.button .top .label {
  color: black;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .20s ease-out;
  -moz-transition: all .20s ease-out;
  -o-transition: all .20s ease-out;
  transition: all .20s ease-out;
}

.button:hover .top .label {
  color: blue;
}
/* green #27E774*/
.button-border {
  position: absolute;
  background-color: blue;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
  height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
  width: calc(100% + 2px);
}

.button-border-left {
  left: -2px;
  bottom: -2px;
  width: 2px;
  height: 0;
}

.button-border-top {
  left: -2px;
  top: -2px;
  width: 0;
  height: 2px;
}

.button-border-right {
  right: -2px;
  top: -2px;
  width: 15px;
  height: 0;
}

.button-border-bottom {
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 2px;
}

/*////////////// MAILCHIMP ///////////////*/

#mc_embed_signup {
  clear:center;
  font-size:35px;
  width:100%;
}

.email-field {
  width: 21rem;
  border: 2px solid black;
  height: 2.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button-subscribe {
  width: 20.5rem;
  height: 3.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2rem;
  border: 2px solid black;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;

}



/*Small devices (320px to landscape phones)*/
@media only screen and (max-width: 580px) and (min-width: 300px) { 
 
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.7;
  }
  h5 {
    font-size: 0.9rem;
  }
  .headline-1 {
    text-align: center !important;
  }
  .img-abridged {
    width: 25%;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .section {
    height: 42vh;
  }
  .sub-headline-2 {
    text-align: left;
    position: relative;
    left: 0rem;
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
    line-height: 1;
    
  }
  .sub-headline-3 {
    text-align: left;
    padding-top: 0.8rem;
    padding-bottom: 1.4rem;
    line-height: 1;
  }

  .sub-headline-4 {
    text-align: left;
    top: -2.8rem !important;
  }
  
  .sub-headline-5 {
    text-align: left;
    top: -2.5rem !important;
  }

  .sub-headline-6 {
    text-align: left;
    top: -1rem !important;
  }
  .description-two {
    text-align: left;
  }
  .description-three {
    text-align: left;
    margin-top: -1.6rem;
  }
  .img-top-one {
    margin-left: 60%;
    width: 23%;
  }
  .img-top-three {
    margin-left: 60%;
    margin-right: auto;
    width: 25%;
  }
  .button .top {
    padding: 10px 10px 10px 10px;
  }
  .part-one {
    margin-top: 4.5rem;
  }
  .part-two {
    margin-top: 3rem;
  }
  .wrapper-button-right {
    float: left;
    justify-content: left;
  }
  
  
  .social {
    margin-top: 0.33rem;
    margin-right: 0.15rem;
  }
  .nav-button {
    margin-right: 2rem;
    padding: 7px 10px 7px 10px;
  }
  .main-logo {
    width: 5rem;
    margin-top: 0.4rem;
  }

  .part-three {
    margin-top: 12.5rem;
  }

  .nav-mobile {
    visibility: visible;
  }

.sub-headline-integration {
  padding-top: 2rem;
  text-align: center;
  opacity: 1 !important;
  color: black;
  margin-top: 10rem;
}

.list-integration {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  padding-top: 1rem;
  text-align: center;
}

.integration {
  display: inline-block;
  justify-content: space-around;
  padding: 7px 9px 7px 9px;
  text-decoration: none;
  border: 2px solid white;
  margin: 0.5rem;
  transform: skew(-8deg);
  background-color: white;
}

.integration:any-link {
  color: black;
  transition: 0.3s;
}
.dropdown {
  display: none;
}

}


/* Small & Medium devices (tablets, phones 581px - 768px)*/
@media only screen and (max-width: 650px) and (min-width: 581px) { 
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.7;
  }
  h5 {
    font-size: 0.9rem;
  }
  .headline-1 {
    text-align: center !important;
  }
  .img-abridged {
    width: 25%;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .section {
    height: 55vh;
   
  }
  .sub-headline-2 {
    margin-top: -2.2rem;
    left: 0rem;
    margin-top: -2.2rem;
    text-align: left;
  }
  .sub-headline-3 {
    text-align: left;
  }
  .sub-headline-4, .sub-headline-5 {
    padding-top: 2rem;
    text-align: left;
    top: -5.5rem;
  }

  .sub-headline-integration {
    margin-top: 10rem;
  }

  .description-two {
    text-align: left;
  }
  .img-top-one {
    margin-left: 60%;
    width: 23%;
  }
  .img-top-three {
    margin-left: 60%;
    margin-right: auto;
    width: 25%;
  }
  .button .top {
    padding: 10px 10px 10px 10px;
  }
  .wrapper-button-right {
    float: left;
    justify-content: left;
  }
  

  .nav-mobile {
    visibility: visible;
  }
  .dropdown {
    display: none;
  }
}


@media only screen and (max-width: 850px) and (min-width: 651px) and (orientation: landscape) { 
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.7;
  }
  h5 {
    font-size: 0.9rem;
  }
  .headline-1 {
    text-align: center !important;
  }
  .img-abridged {
    width: 15%;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .section {
    height: 70vh;
  }
  .part-one {
    padding-top: 10rem;
  }
  .part-two {
    padding-top: 5rem;
  }
  .part-three {
    margin-top: 10rem;
  }
  .sub-headline-2 {
    margin-top: -2.2rem;
    left: 0rem;
    margin-top: -2.2rem;
    text-align: left;
  }
  .sub-headline-3 {
    text-align: left;
  }
  .sub-headline-4 {
    text-align: left;
    padding-top: 1rem;
    margin-top: 12px;
  }
  .sub-headline-5 {
    text-align: left;
    padding-top: 1rem;
    margin-top: 3px;
  }
  .sub-headline-6 {
    margin-top: 4.8rem;
  }

  .sub-headline-integration {
    margin-top: 10rem;
  }

  .description-two {
    text-align: left;
  }
  .img-top-one {
    margin-left: 60%;
    width: 23%;
  }
  .img-top-three {
    margin-left: 60%;
    margin-right: auto;
    width: 25%;
  }
  .button .top {
    padding: 10px 10px 10px 10px;
  }
  .wrapper-button-right {
    float: left;
    justify-content: left;
  }
  #wheel-one {
    margin-top: 25rem;
    width: 40%;
  }
 
  .nav-mobile {
    visibility: visible;
  }

  .dropdown {
    display: none;
  }

  
}



